:root{
    --espacamento: 15px;
}

body{
    height: 100vh;
    /* display: flex; */
    background-color: #E1E3E1;

}

/* Geral */
body, main, .header, .principal, .aside, .opcoes-rodape{ 
    display: flex;
}

.div2, li{
    flex:2;
}
.div1, .section, li:nth-child(2){
    flex:3;
}




main{
    /* display: flex; */
    flex-direction: column;
    gap: 16px;
    margin: auto;
    width: 665px;
    height: 505px;
    padding: 21px 17px;
    background-color: #ffffff;
    align-items: stretch;
}

.header{
    /* display: flex; */
    height: 109px;
    gap: var(--espacamento);
    
}
.header .h-div{ background-color: #eb433f;}
/* .header .div1{ flex: 3;}
.header .div2{ flex: 2;} */


.principal{
    /* display: flex; */
    height: 281px;
    gap: var(--espacamento);

}
.principal .section{ 
    /* flex: 3;  */
    background-color: #e99e2d;
}
.principal .aside{ 
    /* display: flex; */
    flex-direction: column;
    flex-grow: 5;
    gap: var(--espacamento);
}

.aside .caixa{
    flex: 1;
    background-color: #8f056e;
}


.footer .opcoes-rodape{
    height: 82px;
    /* display: flex; */
    gap: var(--espacamento);
}

.footer .opcoes-rodape li{
    /* flex: 2; */
    background-color: #017890;
}

/* .footer .opcoes-rodape li:nth-child(2){
    flex: 3;
} */